@media only screen and (max-width: 1140px) {
  .nav-list {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    transition: all 0.7s ease-out;
    height: 777px;
  }
  .rightNav {
    text-align: center;
  }
  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
  }
  #search {
    width: 100%;
  }
  .burger {
    display: block;
  }
  .h-nav-resp {
    height: 72px;
  }
  .v-class-resp {
    opacity: 0;
  }
  .nav-list li a {
    color: #fff;
  }
  .secondHalf {
    width: 100%;
  }
  .secondHalf img {
    width: 175px;
    margin-bottom: 31px;
  }
  .image .imgFluid {
    margin-bottom: 31px;
    margin-top: 33px;
  }
  .buttons {
    text-align: center;
  }
  .section {
    flex-direction: column-reverse;
  }
  .form textarea {
    width: 100%;
  }
  .text-big {
    text-align: center;
  }
  .text-small {
    text-align: center;
  }
  button {
    text-align: center;
  }
  .secondHalf img {
    text-align: center;
  }
  .paras {
    padding: 0px 1px;
  }
}
